body {
    margin: 0;
    font-family: sans-serif;
    background-color: #eee;
}

div {
    width: 600px;
    margin: 2em auto 0;
    text-align: center;

}

div img {
    border-radius: 200px;
}

p {
    color: gray;
}

a {
    text-decoration: none;
}

a:hover {
     text-decoration: underline;

}